body {
            padding-top: 70px;
        }

        .section-padding {
            padding: 60px 0;
        }

        .navbar {
            background-color: #cb431e;
        }

        .navbar-brand,
        .nav-link {
            color: white !important;
        }

        .nav-link:hover {
            color: #ccc !important;
        }

        .hero {
            background-color: #f8f9fa;
            text-align: center;
            padding: 100px 0;
        }

        .section-title {
            color: #cb431e;
            margin-bottom: 30px;
        }